<!-- <div class="">
    <div class="">{{ data.type  }}</div>
</div> -->

<div class="align-self-baseline">
    <!-- <div class="">{{ data.type }}:&nbsp;   {{ data.message  }} </div> -->
    <div class="d-flex justify-content-start"> <img src="../assets/images/icon/{{ data.type }}.png" width="40px" height="40px" alt="Income" /> <div class="ml-1 pt-2"> {{ data.message  }}</div> </div>
    <!-- <div class="col-sm-11"> <button mat-flat-button (click)="snackBarRef.dismiss()" >{{ data.buttontex }}</button> </div> -->
</div>
