<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ 'Upload file' | translate }}</mat-card-title>
    <mat-card-subtitle>{{ subTitleForm }}</mat-card-subtitle>
  </mat-card-header>
  <div class="row header mb-2" >
    <div class="col-sm-1 text-center">{{ 'Id' | translate }}</div>
    <div class="col-sm-4 text-center">{{ 'Description' | translate }}</div>
    <div class="col-sm-4 text-center">{{ 'File' | translate }}</div>
    <div class="col-sm-3 text-center">{{ 'Actions' | translate }}</div>
  </div>
  <mat-card-content>
    <div class="row sombra" >
      <div class="col-sm-1 mb-2 text-center">{{ 'Id' | translate }}</div>
      <div class="col-sm-4 mb-2"><input type="text" class=" form-control" name="descriptionFile" id="descriptionFile" placeholder="{{ 'Description' | translate}}"></div>
      <div class="col-sm-4 mb-2">
        <input type="file" class="form-control" name="file" id="file" placeholder="{{ 'File' | translate}}">
        <!-- <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFileLang" lang="es">
          <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
        </div> -->
      </div>
      <div class="col-sm-3 text-center mb-2">

        <button type="button"  title="Descartar" class="btn btn-danger  btn-small round fas fa-trash-alt mx-1" ></button>
        <button type="button"  title="Nuevo" class="btn btn-success  btn-small round fas fa-plus  mx-1" ></button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
 <button type="button" title="Guardar"  class="btn btn-primary fas fa-save " > Guardar </button>
  </mat-card-actions>
</mat-card>
