@mixin font55() {
    font-size: 55px;
}

@mixin font45() {
    font-size: 45px;
}

@mixin font40() {
    font-size: 40px;
}

@mixin font39() {
    font-size: 39px;
}

@mixin font36() {
    font-size: 36px;
}

@mixin font35() {
    font-size: 35px;
}

@mixin font33() {
    font-size: 33px;
}

@mixin font30() {
    font-size: 30px;
}

@mixin font28() {
    font-size: 28px;
}

@mixin font27() {
    font-size: 27px;
}

@mixin font26() {
    font-size: 26px;
}

@mixin font25() {
    font-size: 25px;
}

@mixin font24() {
    font-size: 24px;
}

@mixin font22() {
    font-size: 22px;
}

@mixin font20() {
    font-size: 20px;
}

@mixin font18() {
    font-size: 18px;
}

@mixin font17() {
    font-size: 17px;
}

@mixin font16() {
    font-size: 16px;
}

@mixin font15() {
    font-size: 15px;
}

@mixin font14() {
    font-size: 14px;
}

@mixin font13() {
    font-size: 13px;
}
@mixin font12() {
    font-size: 12px;
}
@mixin font10() {
    font-size: 10px;
}
