$grey-color: #707070;
$white-color: #fff;
$black-color: #000;
$white-color-light: #f7f7f7;
$input-background-color: #F5F5F5;
$hover-state: #E6411C;
$link-color: #E74D2A;
$iusa-color: #9b8578;
$green-color: #3BA127;
$blue-color: #1F98E9;
$red-color: #FF0000;
$orange-input-color: #e6411c2e;
$family: Arial, Helvetica, sans-serif;

$desktop-leading-trailing-space: 100px;
$mobile-leading-trailing-space: 17px;

$color-header-tables:rgb(2, 42, 68);
